<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.factionfour.audioEncode"
        version="1.0.0">
<engines>
    <engine name="cordova" version="3.3.0" />
</engines>        
<name>AudioEncode</name>
<description>Plugin for iOS to encode wav to amr</description>
<author>Tushar Kanvinde</author>
<keywords>iOS audio recording encoding</keywords>
<license>MIT</license>
<asset src="audioencode.js" target="audioencode.js" />
<platform name="ios">

        <config-file target="config.xml" parent="plugins">
            <plugin name="AudioEncode" value="AudioEncode"/>
        </config-file>
        <source-file src="AudioEncode.m" />
        <header-file src="AudioEncode.h" />

</platform>
</plugin>
